﻿.moreinforow {
    display: none;
}

label.textarea {
    font-weight: bolder;
    color: #202020;
}

.active {
    /* Don't se a need to do anything here */
}

.inactive {
    opacity: .5;
}