﻿@model NTB.SportsDataInput.Domain.Classes.UserProfile
           @using (Html.BeginForm("Edit/" + Model.UserId, "UserManager"))
           {
           <fieldset>
               <legend>Endre bruker</legend>
               <div>
                   <label for="username">Brukernavn</label>
                   <input type="text" name="username" value="@Model.UserName"/>
               </div>
    
               <div>
                   <label for="firstname">Fornavn</label>
                   <input type="text" name="firstname" value="@Model.FirstName"/>
               </div>
    
               <div>
                   <label for="lastname">Etternavn</label>
                   <input type="text" name="lastname" value="@Model.LastName"/>
               </div>
    
               <div>
                   <label for="email">E-post</label>
                   <input type="text" name="email" value="@Model.Email"/>
               </div>
               
               <div>
                <label for="roles">Roller</label>
                <select name="roles">
                    @{
                        // TODO: Fix the model for role
               foreach (var role in Roles.GetAllRoles())
               {
                   
                   if (role == Model.Role)
                   {
                                <option selected="selected" value="@role">@role</option>
                   }
                   else
                   {
                                <option value="@role">@role</option>
                   }
               }
                    }
                </select>
            </div>
    
               <div>
                   <input type="submit" value="Submit" />
                   <input type="reset" value="Reset" />
               </div>
           </fieldset>
           }