﻿@using NTB.SportsDataInput.Domain.Classes
@model UserProfileView
@{
    ViewBag.Title = "Brukeradministrasjon";
}

<h2>Brukeradministrasjon</h2>
<form method="POST" action="/UserManager/SetWorkRoles">
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Epost</th>
            <th>Brukernavn</th>
            <th>Online</th>
            <th>Siste login dato</th>
            <th>Oppgave</th>
            <th colspan="2">@Html.ActionLink("Legg til bruker", "Create", "UserManager")
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6">&nbsp;</td>
            <td colspan="2"><input type="submit" value="Submit"/></td>
        </tr>
    </tfoot>
    
    @{
        foreach (UserProfile u in Model.UserProfiles)
        {
            var editLink = "Edit/" + u.UserId;
            var deleteLink = "Delete/" + u.UserId;
            <input type="hidden" name="userid[]" value="@u.UserId"/>
            <tr>
                <td>@u.FullName</td>
                <td>@u.Email</td>
                <td>@u.UserName</td>
                <td>@u.IsOnline</td>
                <td>@u.LastLoginDate.ToShortDateString()</td>
                <td>
                    <select name="workrole[]">
                        
                        @foreach (var workRole in Model.WorkRoles)
                        {
                            if (u.WorkRole.Id == workRole.Id)
                            {
                                <option selected="selected" value="@workRole.Id">@workRole.Name</option>
                            }
                            else
                            {
                                <option value="@workRole.Id">@workRole.Name</option>
                            }

                        }
                    </select>
                </td>
                <td>@Html.ActionLink("Edit", editLink, "UserManager")</td>
                <td>@Html.ActionLink("Delete", deleteLink, "UserManager")</td>
            </tr>
        }
    }
</table>
</form>