﻿@using NTB.SportsDataInput.Domain.Classes
@model List<Match>
@{
    ViewBag.Title = "Kampregistrering";
}

<h2>Kampregistrering</h2>

    <table style="width: 100%">
        <thead>
            <tr>
                <th style="width:5%">&nbsp;</th>
                <th style="width:5%">Kampdato</th>
                <th style="width:5%">Tid</th>
                <th style="width:5%">Nummer</th>
                <th style="width:20%">Turnering</th>
                <th style="width:20%">Hjemmelag</th>
                <th style="width:20%">Bortelag</th>
                <th style="width:5%">Mål H</th>
                <th style="width:5%">Mål B</th>
                <th style="width:5%">&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>    
        </tfoot>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (Match match in Model)
                    {
                        var matchCommentFormId = "formcomment" + match.MatchId;
                        var linkMatch = "match" + match.MatchId;
                        var linkMatchMoreInfo = "matchinfo" + match.MatchId;
                        var textareaName = "txtBox" + match.MatchId;
                        var infocolumn = "infocol" + match.MatchId;
                        
                        string timeString = "0";
                        if (match.MatchStartTime.ToString().Length >= 4)
                        {
                            timeString = match.MatchStartTime.ToString().Substring(0, 2) + ":" + @match.MatchStartTime.ToString().Substring(2, 2);
                        }
                        <tr class="maintable" style="vertical-align: text-top">
                            <td colspan="10">
                                <form method="POST" action="#">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width:5%" id="@infocolumn">
                                            <a href="#" id="@linkMatch" class="moreinfo" rel="@linkMatchMoreInfo">
                                                <img src="Content/images/24x24/info.png" alt="Informasjon" style="border: 0;"/>
                                                @{
                                                    if (match.MatchComment.Length > 0)
                                                    {
                                                        <img src="Content/images/24x24/comment.png" alt="@match.MatchComment" title="@match.MatchComment" style="border: 0;"/>

                                                    }
                                                }
                                            </a>
                                        </td>
                                        <td style="width:5%">@match.MatchDate.ToShortDateString()</td>
                                        <td style="width:5%">@timeString</td>
                                        <td style="width:5%">@match.MatchId</td>
                                        <td style="width:20%">@match.TournamentName (@match.DistrictName, @match.SportName)</td>
                                        <td style="width:20%">@match.HomeTeam</td>
                                        <td style="width:20%">@match.AwayTeam</td>
                                        <td style="width:5%"><input type="text" name="hometeamgoal" value="@match.HomeTeamGoal" maxlength="3" size="5" style="width: 100%; text-align: center;" /></td>
                                        <td style="width:5%"><input type="text" name="hometeamgoal" value="@match.AwayTeamGoal" maxlength="3" size="5" style="width: 100%; text-align: center;"/></td>
                                        <td style="width:5%"><input type="submit" value="Lagre"/></td>
                                    </tr>
                                </table>
                                </form>
                            </td>
                        </tr>
                        <tr class="moreinforow" id="@linkMatchMoreInfo">
                            <td colspan="10" style="vertical-align: top;">
                                <table style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th colspan="3">Kontaktopplysninger</th>
                                        </tr>
                                    
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top; width:33%">
                                                <form method="POST" action="/MatchRegister/AddComment/@match.MatchId" id="@matchCommentFormId">
                                                    <label class="textarea">Kommentar</label><br/>
                                                    <textarea name="@textareaName" rows="5" cols="40">@match.MatchComment</textarea>
                                                    <br/>
                                                    <input style="margin-top: 10px;" type="submit" value="Lagre"/>
                                                </form>
                                            </td>
                                            <td style="vertical-align: top; width:33%">
                                                <h3 id="@match.HomeTeamId">@match.HomeTeam</h3>
                                                @{
                                                    const string iconheight = "24x24";
                                                } 
                                                @foreach (ContactPerson contact in match.HomeTeamContactPersons)
                                                {
                                                    var navnid = "navn" + contact.PersonId;
                                                    var rolleid = "rolle" + contact.PersonId;
                                                    var mobil = "mobil" + contact.PersonId;
                                                    var work = "work" + contact.PersonId;
                                                    var home = "home" + contact.PersonId;

                                                    var editbox = "p" + contact.PersonId + "r" + contact.RoleId;
                                                    var deletebox = "d" + contact.PersonId + "r" + contact.RoleId;
                                                    var smsbox = "s" + contact.PersonId + "r" + contact.RoleId;
                                                    var smstextarea = "sms" + contact.PersonId + "r" + contact.RoleId;
                                                    var smsformid = "smsform" + contact.PersonId + "r" + contact.RoleId;
                                                    var editcontactid = "editcontact" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchformid = "findform" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchpersonbox = "search" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchresultbox = "result" + contact.PersonId + "r" + contact.RoleId;
                                                    
                                                    var activeClass = "active";
                                                    if (contact.Active == 0)
                                                    {
                                                        activeClass = "inactive";
                                                    }
                                                    <div class="@activeClass">
                                                        
                                                        <strong id="@navnid">@contact.FirstName @contact.LastName</strong>
                                                        <div style="float:right; text-align: right;">
                                                            @{
                                                                if (contact.MobilePhone != string.Empty)
                                                                {
                                                                    <a href="#" class="smslink" rel="@smsbox">
                                                                        <img src="Content/images/@iconheight/mobile_phone.png" alt="Send SMS"/>
                                                                    </a>
                                                                }


                                                                if (contact.MobilePhone == string.Empty ||
                                                                    contact.HomePhone == string.Empty ||
                                                                    contact.OfficePhone == string.Empty)
                                                                {
                                                                    <a href="#" class="searchlink" rel="@searchpersonbox">
                                                                        <img src="http://pub.1881.no/wp-content/uploads/2012/09/logo-o-1881.png"
                                                                             style="width: 10%; height: 10%;"/>
                                                                    </a>
                                                                }
                                                            }
                                                                    
                                                            
                                                            <a href="#" class="editlink" rel="@editbox"><img src="Content/images/@iconheight/edit.png" alt="Edit"/></a>&nbsp;
                                                            
                                                                @{
                                                                    if (contact.Active == 1)
                                                                    {
                                                                        <a href="/MatchRegister/ChangeStatus/@contact.PersonId" class="deletelink" rel="@deletebox">
                                                                        <img src="Content/images/@iconheight/delete.png" alt="Activate/Deactivate"/>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/MatchRegister/ChangeStatus/@contact.PersonId">
                                                                        <img src="Content/images/@iconheight/accept.png" alt="Activate/Deactivate"/>
                                                                        </a>
                                                                    }
                                                                }
                                                                
                                                            
                                                            
                                                        </div>
                                                        
                                                        <br />
                                                        <label id="@rolleid">Rolle: </label>
                                                        <span>@contact.RoleName</span><br />
                                                        
                                                        <label id="@mobil">Mobil: </label>
                                                        <span>@contact.MobilePhone</span><br />
                                                        
                                                        <label id="@work">Telefon arb.: </label>
                                                        <span>@contact.OfficePhone</span><br />
                                                        
                                                        <label id="@home">Telefon hjem: </label>
                                                        <span>@contact.HomePhone</span><br />
                                                    </div>
                                                    <br />
                                                    <div id="@editbox" class="editbox" title="Edit @contact.FirstName @contact.LastName">
                                                        <form method="POST" action="#" id="@editcontactid">
                                                            <input type="hidden" name="teamid" value="@match.HomeTeamId"/>
                                                            <input type="hidden" name="contactid" value="@contact.PersonId"/><br/>
                                                            <label id="@rolleid">Fornavn: </label><br/>
                                                            <input type="text" name="firstname" value="@contact.FirstName"/><br/>
                                                            <label id="@rolleid">Etternavn: </label><br/>
                                                            <input type="text" name="lastname" value="@contact.LastName"/><br/>
                                                            <label id="@rolleid">E-post: </label><br/>
                                                            <input type="text" name="email" value="@contact.Email"/><br />
                                                            <label id="@mobil">Mobil: </label><br/>
                                                            <input type="text" name="mobilephone" value="@contact.MobilePhone"/><br />
                                                            <label id="@work">Telefon arb.: </label><br/>
                                                            <input type="text" name="officephone" value="@contact.OfficePhone"/><br />
                                                            <label id="@home">Telefon hjem: </label><br/>
                                                            <input type="text" name="homephone" value="@contact.HomePhone"/><br />
                                                        </form>
                                                    </div>
                                                    <div id="@deletebox" class="deletebox" title="Deaktiver @contact.FirstName @contact.LastName">
                                                        <div>Er du sikker på at du vil deaktivere<br />
                                                            <strong>@contact.FirstName @contact.LastName</strong>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="@smsbox" class="smsbox" title="Send SMS til @contact.FirstName @contact.LastName">
                                                        <div>
                                                            <form action="#" method="POST" id="@smsformid">
                                                                <label>Melding</label><br />
                                                                <textarea name="@smstextarea" rows="6" cols="45"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="@searchpersonbox" class="searchpersonbox" title="S&oslash;k etter kontaktperson hos 1881">
                                                        <div>
                                                            <form action="#" method="POST" id="@searchformid">
                                                                <label for="person">Person</label><br/>
                                                                <input type="text" name="person" value="@contact.FirstName @contact.LastName"/>
                                                            </form>
                                                            <div class="resultbox" id="@searchresultbox"></div>
                                                        </div> 
                                                        
                                                    </div>
                                                }
                                                
                                            </td>
                                            <td style="vertical-align: top; width:33%">
                                                <h3>@match.AwayTeam</h3>
                                                @foreach (ContactPerson contact in match.AwayTeamContactPersons)
                                                {
                                                    var navnid = "navn" + contact.PersonId;
                                                    var rolleid = "rolle" + contact.PersonId;
                                                    var mobil = "mobil" + contact.PersonId;
                                                    var work = "work" + contact.PersonId;
                                                    var home = "home" + contact.PersonId;

                                                    var editbox = "p" + contact.PersonId + "r" + contact.RoleId;
                                                    var deletebox = "d" + contact.PersonId + "r" + contact.RoleId;
                                                    var smsbox = "s" + contact.PersonId + "r" + contact.RoleId;
                                                    var smstextarea = "sms" + contact.PersonId + "r" + contact.RoleId;
                                                    var editcontactid = "f" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchformid = "findform" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchpersonbox = "search" + contact.PersonId + "r" + contact.RoleId;
                                                    var searchresultbox = "result" + contact.PersonId + "r" + contact.RoleId;

                                                    var activeClass = "active";
                                                    if (contact.Active == 0)
                                                    {
                                                        activeClass = "inactive";
                                                    }
                                                    <div class="@activeClass">
                                                        
                                                        <strong id="@navnid">@contact.FirstName @contact.LastName</strong>
                                                        <div style="float:right; text-align: right;">
                                                            @{
                                                    if (contact.MobilePhone != string.Empty)
                                                    {
                                                        <a href="#" class="smslink" rel="@smsbox">
                                                            <img src="Content/images/@iconheight/mobile_phone.png" alt="Send SMS"/>
                                                        </a>
                                                    }
                                                    if (contact.MobilePhone == string.Empty ||
                                                        contact.HomePhone == string.Empty ||
                                                        contact.OfficePhone == string.Empty)
                                                    {
                                                                    <a href="#" class="searchlink" rel="@searchpersonbox">
                                                                        <img src="http://pub.1881.no/wp-content/uploads/2012/09/logo-o-1881.png"
                                                                        style="width: 10%; height: 10%;"/>
                                                                    </a>
                                                    }
                                                            }
                                                            <a href="#" class="editlink" rel="@editbox"><img src="Content/images/@iconheight/edit.png" alt="Edit"/></a>&nbsp;
                                                            @{
                                                                    if (contact.Active == 1)
                                                                    {
                                                                        <a href="/MatchRegister/ChangeStatus/@contact.PersonId" class="deletelink" rel="@deletebox">
                                                                        <img src="Content/images/@iconheight/delete.png" alt="Activate/Deactivate"/>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/MatchRegister/ChangeStatus/@contact.PersonId">
                                                                        <img src="Content/images/@iconheight/accept.png" alt="Activate/Deactivate"/>
                                                                        </a>
                                                                    }
                                                                }
                                                        </div>
                                                        
                                                        <br />
                                                        <label id="@rolleid">Rolle: </label><span>@contact.RoleName</span><br />
                                                        <label id="@mobil">Mobil: </label><span>@contact.MobilePhone</span><br />
                                                        <label id="@work">Telefon arb.: </label><span>@contact.OfficePhone</span><br />
                                                        <label id="@home">Telefon hjem: </label><span>@contact.HomePhone</span><br />
                                                        
                                                    </div>
                                                    <br/>
                                                    <div id="@editbox" class="editbox" title="Edit @contact.FirstName @contact.LastName" >
                                                        <form method="POST" action="#" id="@editcontactid">    
                                                            <input type="hidden" name="teamid" value="@match.HomeTeamId"/>
                                                            <input type="hidden" name="contactid" value="@contact.PersonId"/><br/>
                                                            <label id="@rolleid">Fornavn: </label><br/>
                                                            <input type="text" name="firstname" value="@contact.FirstName"/><br/>
                                                            <label id="@rolleid">Etternavn: </label><br/>
                                                            <input type="text" name="lastname" value="@contact.LastName"/><br/>
                                                            <label id="@rolleid">E-post: </label><br/>
                                                            <input type="text" name="email" value="@contact.Email"/><br />
                                                            <label id="@mobil">Mobil: </label><br/>
                                                            <input type="text" name="mobilephone" value="@contact.MobilePhone"/><br />
                                                            <label id="@work">Telefon arb.: </label><br/>
                                                            <input type="text" name="officephone" value="@contact.OfficePhone"/><br />
                                                            <label id="@home">Telefon hjem: </label><br/>
                                                            <input type="text" name="homephone" value="@contact.HomePhone"/><br />
                                                        </form>
                                                    </div>
                                                    
                                                    <div id="@deletebox" class="deletebox" title="Deaktivere @contact.FirstName @contact.LastName">
                                                        <div style="text-align: center;">Er du sikker på at du vil deaktivere<br />
                                                            <strong style="text-align: center;">@contact.FirstName @contact.LastName</strong>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="@smsbox" class="smsbox" title="Send SMS til @contact.FirstName @contact.LastName">
                                                        <div>
                                                            <form action="#" method="POST">
                                                                <label>Melding</label><br />
                                                                <textarea name="@smstextarea" rows="6" cols="45"></textarea>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    
                                                    <div id="@searchpersonbox" class="searchpersonbox" title="S&oslash;k etter kontaktperson hos 1881">
                                                        <div>
                                                            <form action="#" method="POST" id="@searchformid">
                                                                <label for="person">Person</label><br/>
                                                                <input type="text" name="person" value="@contact.FirstName @contact.LastName"/>
                                                            </form>
                                                            <div class="resultbox" id="@searchresultbox"></div>
                                                        </div> 
                                                        
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

