﻿@using NTB.SportsDataInput.Domain.Classes
@model List<Person>

@{
    foreach (Person person in Model)
    {
        <div >
            <span>@person.FirstName @person.LastName</span><br/>
            <span>Tlf: @person.PhoneMobile</span><br/>
            <span>Adresse: @person.StreetAddress, @person.PostalCode @person.City</span>
        </div>
    <br/>
    }

}