﻿<!DOCTYPE html>
<html>
<head>
    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "Default page title" : ViewBag.Title)</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ntb_input.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    
</head>
    <body>
        <div class="page">
            <div id="header">
                <div id="title">
                    <h1>SportsData Input</h1>
                </div>
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>
                <div id="menucontainer">
                    <ul id="menu">
                        @{
                            if (Context.User.IsInRole("SuperUser"))
                            {
                                <li>@Html.ActionLink("Brukeradministrasjon", "Index", "UserManager")</li>
                            }

                            if (Context.User.IsInRole("SuperUser") ||
                                Context.User.IsInRole("Vaktsjef"))
                            {
                                <li>@Html.ActionLink("Kampadministrasjon", "Index", "MatchManager", null, new {id="matchreg"})</li>
                            }
                        
                            if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Kampregistrering", "Index", "MatchRegister")</li>
                            }
                        }

                        <li>@Html.ActionLink("Hjem", "Index", "Home")</li>
                        <li>@Html.ActionLink("Hjelp", "Help", "Home")</li>
                    </ul>
                </div>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="footer">
            </div>
        </div>
        
        <div id="loaderspinner" class="loader">
            
        </div>
    
    
    <script type="text/javascript">
        $(document).ready(function () {

            $(".editbox").hide();
            $(".deletebox").hide();
            $(".smsbox").hide();
            $(".searchpersonbox").hide();
            // Find out which page I am actually loading


            $("input[type=submit]").click(function () {
                var formid = this.form.id;
                var matchid = formid.replace('formcomment', '');

                if (formid.substr(0, 11) == "formcomment") {

                    var txtArea = formid.replace('formcomment', 'txtBox');
                    var resultBox = "commentBox" + matchid;

                    $.ajax({
                        type: 'POST',
                        url: '/MatchRegister/AddComment/' + matchid,
                        data: $('#' + formid + ' :input').serialize(),
                        success: function (returndata) {
                            var returnElement = $("#" + resultBox).html($(returndata));
                            var messageIcon = "&nbsp;<img src='Content/images/24x24/comment.png'>";
                            $("#infocol" + matchid).append(messageIcon);
                        },
                        error: function () {
                            alert("error!");
                        }
                    });
                    return false;
                }

                //                if (formid.substr(0, 11) == "editcontact") {

                //                    var personid = formid.replace("editcontact", "");

                //                    // personid = personid.slice(0, personid.lastIndexOf("r"));

                //                    $.ajax({
                //                        type: 'POST',
                //                        url: '/MatchRegister/EditContact/' + personid,
                //                        data: $('#' + formid + ' :input').serialize(),
                //                        success: function (returndata) {
                //                            var returnElement = $("#" + resultBox).html($(returndata));
                //                        },
                //                        error: function () {
                //                            alert("error!");
                //                        }
                //                    });
                //                    return false;
                //                }
            });
            /*
            click
                
            Slow: ajax get data from source = two domains (external sources) - store in database server
                
            Fast: ajax complete -> redirect to new page which gets data to be used from database server

            
            */

            $("#loaderspinner").hide();

            $("a").click(function (ev) {

                var link = $(this).attr('id');
                var href = $(this).attr('href');
                //                alert(location);
                var domain = "http://" + window.location.host;

                var rel = $(this).attr('rel');
                var linkClass = $(this).attr('class');
                var personid = 0;

                var formid = 0;

                // Removed because we are doing this in a separate application
                //                if (link == 'matchreg') {
                //                    ev.preventDefault();
                //                    $("#loaderspinner").show();
                //                    $.get("/MatchManager/MatchManagement", function (data) {
                //                        window.location.href = domain + href;
                //                    });

                //                }

                if (linkClass == "moreinfo") {
                    $("#" + rel).toggle();
                    return false;
                }

                if (linkClass == "searchlink") {

                    var resultBox = rel.replace('search', 'result');
                    personid = rel.replace('search', '');
                    personid = personid.slice(0, personid.lastIndexOf("r"));
                    formid = rel.replace('search', 'findform');

                    $("#" + rel).dialog({

                        resizable: true,
                        height: 400,
                        modal: true,
                        buttons: {
                            'Søk': function () {
                                //                                 Morten Skjeldnes Berre
                                $.ajax({
                                    type: 'POST',
                                    url: '/MatchRegister/SearchContact/' + personid,
                                    data: $('#' + formid + ' :input').serialize(),
                                    success: function (returndata) {
                                        var returnElement = $("#" + resultBox).html($(returndata));

                                    },
                                    error: function () {
                                        alert("error!");
                                    }
                                });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    return false;
                }

                if (linkClass == "editlink") {
                    formid = rel.replace('p', 'editcontact');

                    personid = rel.replace('p', '');
                    personid = personid.slice(0, personid.lastIndexOf("r"));


                    $("#" + rel).dialog({
                        resizable: true,
                        height: 450,
                        modal: true,
                        buttons: {
                            'Save': function () {

                                $.ajax({
                                    type: 'POST',
                                    url: '/MatchRegister/EditContact/' + personid,
                                    data: $('#' + formid + ' :input').serialize(),
                                    success: function () {

                                        setTimeout(function () {
                                            location.reload();
                                        }, 0001);

                                        $(this).dialog("close");
                                    },
                                    error: function () {

                                        $(this).dialog("close");
                                    }
                                });
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });


                    return false;
                }

                if (linkClass == "deletelink") {
                    $("#" + rel).dialog({
                        resizable: false,
                        height: 200,
                        modal: true,
                        buttons: {
                            'Deaktiver': function () {
                                location.href = href;
                                $(this).dialog("close");
                                
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    return false;
                }

                if (linkClass == "smslink") {
                    $("#" + rel).dialog({
                        resizable: false,
                        height: 250,
                        width: 400,
                        modal: true,
                        buttons: {
                            'Send': function () {
                                $(this).dialog("close");
                            },
                            Cancel: function () {
                                $(this).dialog("close");
                            }
                        }
                    });

                    return false;
                }

                return true;
            });

        });

    </script>
    </body>
</html>
