﻿@using NTB.SportsDataInput.Domain.Classes
@model MatchManagerView
@{
    ViewBag.Title = "MatchManagement";
}

<h2>Kampadministrasjon</h2>
<fieldset>
    <form method="POST" action="/MatchManager/JobSetup">
    @{
        var counter = 0;   
    }

    @foreach (District district in Model.Districts)
    {
        var matches = Model.DistrictMatches.SingleOrDefault(x => x.Key.DistrictId == district.DistrictId);

        int numberOfMatches = 0;
        if (matches.Value != null)
        {
            numberOfMatches = matches.Value.Count;
        }
    
    
        <div style="float:left; width:250px;">
            <h3>@district.DistrictName (@numberOfMatches)</h3>
            @{
                if (numberOfMatches > 0)
                {
                    <ul>
                        @foreach (UserProfile profile in Model.UserProfiles)
                        {
                            var checkboxValue = district.DistrictId + "|" + profile.UserId;
                            <li>
                    
                                @{
                                    District district1 = district;

                                    if (profile.Districts.Any(x => x.DistrictId == district1.DistrictId))
                                    {
                                        <input type="checkbox"  checked="checked" name="districts[]" value="@checkboxValue" />
                                    }
                                    else
                                    {
                                        <input type="checkbox"  name="districts[]" value="@checkboxValue"/>
                                    }
                                }
                        
                        
                
                                @profile.FirstName @profile.LastName
            
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        
            counter += 1;

        if (counter != 5)
        {
            continue;
        }
        <div class="clear"></div>
        counter = 0;
    }
    <div class="clear"></div>
    <input type="submit" value="Submit"/>
    </form>
</fieldset>