﻿@{
    ViewBag.Title = "Ingen data";
}

<h2>Ingen data</h2>
<p>Det er ikke hentet nye data fra Norges Fotballforbund eller Norges Idrettsforbund.<br/>
    Disse dataene blir hentet 10:00 og 15:00. Hentingen tar fra 20 til 60 minutter.<br/>
    Prøv igjen senere</p>
