﻿@{
    ViewBag.Title = "Help";
}

<h2>@ViewBag.Message</h2>
<p>
    Ved feil på løsningen, ta kontakt med Anders Sivesind på <a href="mailto:anders.sivesind@NTB.no">anders.sivesind@ntb.no</a>
</p>